@import '../../../resources/partials.scss';
@import '../../../resources/colors.scss';

.search-container {
  width: 85%;
  height: 100%;
  margin-left: 50;
  @include flexbox(row, center, center);
  background-color: $dark_color;

  input {
    width: 800px;
    height: 24px;
    font-size: 16px;
    background-color: $dark_color;
    color: $light_color;
    font-weight: bolder;
  }
}
